body {
    margin: 0;
    padding: 0;
    background-image: url(../images/banner.png);
    background-size: 300%;
    background-position: center;
    font-family: sans-serif;
}

.wrapper {
    height: 100vh;
    background-image: url(../images/banner.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
}

.main_box {
    width: 380px;
    height: 480px;
    background: #44d464;
    position: absolute;
    color: rgb(0, 0, 0);
    top: 57%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 30px;
}

.main_box::before {
    width: 380px;
    height: 480px;
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background: inherit;
    box-shadow: inset 0 0 0 500px rgba(255,255,255,0.2);
    border-radius: 30px;
    filter: blur(10px);
}

form {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 300px;
}

.main_box .logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(48% - 50px);
    
}

.reg-box {
    top: 100%;
    height: 1000px;
}

h1{
    margin: 0;
    padding: 10px 0 20px;
    text-align: center;
    font-size: 24px;
}

.main_box p{
    margin: 0;
    padding: 10px;
    font-weight: bold;
}

.main_box input{
    width: 100%;
    margin-bottom: 20px;
}

.main_box input[type="text"], input[type="password"]
{
    border: none;
    border: .5px solid #000;
    border-radius: 18px;
    padding-left: 10px;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}
.main_box input[type="submit"]
{
    border: none;
    margin-top: 30px;
    outline: none;
    height: 40px;
    background: #ff0000;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
    transition: ease-in all 0.5s;
}
.main_box input[type="submit"]:hover
{
    cursor: pointer;
    transform: translate(5px, 5px);

    background: rgb(63, 63, 63);
    color: #ffffff;
}
.main_box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #000;
    
}

.main_box a:hover
{
    color: #ff5e00;
}
