{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <title>E-Voting</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">

      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <link rel="icon" href="{% static 'images/logo.png" type="image/x-icon' %}" />
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css' %}" media="screen">
   </head>
   
   <body class="main-layout">

      <div class="loader_bg">
         <div class="loader"><img src="{% static 'images/loading.gif' %}" alt="#" /></div>
      </div>

      <header>
         <div class="header_bg">
            <div class="header">
               <div class="container">
                  <div class="row">
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                           <div class="center-desk">
                              <div class="logo">
                                 <a href="/"><img src="{% static 'images/logo.png' %}" alt="#" /></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <ul class="costomer">
                           <li><a href="userLogin">Login</a></li>
                           <li><a href="userRegister">Signup</a></li>
                           
                        </ul>
                     </div>
                  </div>
               </div>
            </div>

            <section class="banner_main" id="vote">
               <div class="container-fluid">
                  <div class="row d_flex">
                     <div class="col-md-5">
                        <div class="text-bg">
                           <span>Let's <br>Vote Through</span>
                           <h1>Blockchain</h1>
                           <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
                           <a href="vote">Vote</a>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <div class="text-img">
                           <figure><img src="{% static 'images/img.png' %}" /></figure>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </header>
      <!-- end banner -->
      <!-- three_box  -->
      <div id="service" class="three_box">
         <div class="container">
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="Soft-box">
                     <i><img src="{% static 'images/service1.png' %}" alt="#" /></i>
                     <h3> Software</h3>
                     <p>It is a long established fact that a reader will be distracted by the readable contentt has a more-or-less norf letters,</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="Soft-box">
                     <i><img src="{% static 'images/service2.png' %}" alt="#" /></i>
                     <h3>For Mobile</h3>
                     <p>It is a long established fact that a reader will be distracted by the readable contentt has a more-or-less norf letters,</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="Soft-box">
                     <i><img src="{% static 'images/service3.png' %}" alt="#" /></i>
                     <h3>For Computer</h3>
                     <p>It is a long established fact that a reader will be distracted by the readable contentt has a more-or-less norf letters,</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end three_box -->
      <!-- weare -->
      <div id="why" class="weare">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Who Are <span class="white">Canditates</span></h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="main_weare">
                     <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                           <div id="box_ho" class="weare-img_box">
                              <figure><img src="{% static 'images/why1.png' %}" alt="#" /></figure>
                           </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                           <div class="weare-box">
                              <h3>DMK</h3>
                              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat</p>
                              <a class="read_more bg" href="#">Read More</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="main_weare2 ">
                     <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                           <div id="box_ho" class="weare-img_box">
                              <figure><img src="{% static 'images/why2.png' %}" alt="#" /></figure>
                           </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                           <div class="weare-box">
                              <h3>ADMK</h3>
                              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat</p>
                              <a class="read_more bg" href="#">Read More</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="main_weare2">
                     <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                           <div id="box_ho" class="weare-img_box">
                              <figure><img src="{% static 'images/why1.png' %}" alt="#" /></figure>
                           </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                           <div class="weare-box">
                              <h3>BJP</h3>
                              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat</p>
                              <a class="read_more bg" href="#">Read More</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <div id="contact" class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="titlepage">
                     <h2>Contact <span class="white">Us</span></h2>
                  </div>
                  <div class="cont">
                     <span>Let's Vote<br>
                     Through </br>
                     Blockchain</span>
                     <a href="#vote">Vote</a>
                  </div>
               </div>
               <div class="col-md-6">
                  <form class="main_form">
                     <div class="row">
                        <div class="col-sm-12">
                           <input class="contactus" placeholder="Full Name" type="text" name="
                              Full Name">
                        </div>
                        <div class="col-sm-12">
                           <input class="contactus" placeholder="Email" type="text" name=" Email">
                        </div>
                        <div class="col-sm-12">
                           <input class="contactus" placeholder="Phone" type="text" name="Phone">
                        </div>
                        <div class="col-sm-12">
                           <textarea class="textarea" placeholder="Message" type="text" name="Message"></textarea>
                        </div>
                        <div class="col-sm-12">
                           <button class="send">Send</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/plugin.js' %}></script>
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
      <script src="{% static 'js/owl.carousel.min.js' %}"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function() {
           var owl = $('.owl-carousel');
           owl.owlCarousel({
             margin: 10,
             nav: true,
             loop: true,
             responsive: {
               0: {
                 items: 1
               },
               600: {
                 items: 2
               },
               1000: {
                 items: 3
               }
             }
           })
         })
      </script>
      
      <script>
         $('.content').hide();
         
         $('.slider').click(function() {
         $(this).next('.content').slideToggle();
         this.toggle = !this.toggle;
         $(this).children("span").text(this.toggle ? "-" : "+");
         return false;
         });
      </script>
   </body>
</html>

