{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Login</title>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/loginLogo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div class="main_box">
        <img src="{% static 'images/avatar.png' %}" class="logo">
        <h1>Login</h1>
        <form action="userLogin" method="POST">
            {% csrf_token %}
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <input type="submit" class="login_btn" value="Login">
        </form>
        <p><a href="userRegister">Create a new Account ?</a></p>
        <p><a href="#">Forgot Password ?</a></p>
    </div>
    {% for message in messages %}
        <h3>{{message}}   </h3> 
    {%endfor%}
</body>
</html>